sourceDir = "~/.local/share/chezmoi"
encryption = "age"

[age]
    identity  = "~/.config/sops/age/keys.txt"
    recipient = "age19qvn8ud9na2k04vnf9h0we8zekvqwu8x8q33zte8fhee450xnpwqp8mhvp"

[edit]
    command = "code"
    args    = ["--wait"]
