[defaults]
inventory              = inventory/ssh.ini
roles_path             = roles
interpreter_python     = /usr/bin/python3
stdout_callback        = default
callback_result_format = json
verbosity              = 1
host_key_checking      = false
inject_facts_as_vars   = false
retry_files_enabled    = false
log_path               = .ansible/logs/ansible.log
vars_plugins_enabled   = host_group_vars, community.sops.sops

[community.sops]
vars_stage             = inventory
age_keyfile            = ~/.config/sops/age/keys.txt

[privilege_escalation]
become_method          = sudo

[ssh_connection]
timeout                = 15
